@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto:wght@100;300;400;500;700&display=swap");

$orange: #ff9463;
$purple: #3f3d56;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.orange {
  color: $orange;
}

body {
  background-image: url("../public/background.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 80%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}
#__next{
  width: 100%;
}

.title {
  margin-top: 2rem;
  font-size: 4rem;
  font-family: "Mate SC", serif;
  text-align: center;
}

#alert {
  color: red;
  border: 1px solid red;
  padding: 1rem;
  font-size: 2rem;
}

.hidden {
  display: none;
}

nav {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.page-button {
  font-size: 1.4rem;
  padding: 0.7rem 2.5rem;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.adding-page-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.book-page-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active-btn {
  background-color: $orange;
}

.main-page {
  display: none;
  animation: tabSwitch 500ms;
  margin: 0 auto;

  &.active-page {
    display: flex;
  }
}

.adding-page {
  font-size: 2rem;
  text-align: left;
  width: 60%;
  flex-direction: column;

  .input-wrapper {
    margin-top: 2rem;

    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 20px;
      font-size: 1.3rem;
      display: block;
    }

    .input-inner {
      display: flex;
      align-items: center;
    }
    .isbn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    .search-icon {
      background-color: $purple;
      color: #fff;
      cursor: pointer;
      padding: 0.75rem;
      border: 1px solid black;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

#add-button {
  background-color: $purple;
  color: #fff;
  margin: 2rem auto;
}

.book-page {
  margin-top: 3rem;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.books-status-section {
  display: inline;
  width: 60%;
  margin: 0 3rem;
  overflow: hidden;
  max-height: 210px;
  transition: max-height 0.15s ease-out;

  h2 {
    font-size: 1.7rem;
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding-left: 1.2rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
  }

  .book-inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.active {
    max-height: 999px;
    transition: max-height 0.25s ease-in;
    .book-inner {
      overflow: visible;
      text-overflow: clip;
      white-space: normal;
    }

    .segment-button {
      color: $orange;
      border-bottom: 3px solid $orange;
    }
  }

  &.to-read{
    .switch-up-button {
      display: none;
    }
  }

  &.finished{
    .switch-down-button {
      display: none;
    }
  }
}

.book-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2rem;

  i {
    font-size: 1.5rem;
  }
}

.book-info {
  padding-left: 0.6rem;
}

.book-title {
  font-size: 1.5rem;
}

.book-author {
  font-size: 0.8rem;
}

.book-buttons{
  display: flex;
  i {
    margin: 0 0.5rem;
    cursor: pointer;
  }
}

.book-details {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &.active{
    display: block;
  }

  /* Modal Content/Box */
  &-content {
    background-color: #fff6f1;
    margin: 5% auto;
    padding: 3rem 2rem;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-text {
    width: 60%;
    h2 {
      font-size: 1.8rem;
    }
    input {
      background: none;
      border: none;
      padding: 0.5rem 0.8rem;
      font-size: 1.1rem;
      width: 90%;
    }

    i {
      font-size: 1.4rem;
      margin: 0 1rem;
      cursor: pointer;
    }
  }

  &-input:active,
  &-input:focus {
    background-color: #ffffff;
  }

  &-text-inner {
    margin: 5rem 0;
  }

  &-header-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .book-image{
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    img{
      position: relative!important;
    }
  }

  &-close {
    color: #aaa;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top: 2px;
    right: 8px;
  }

  &-close:hover,
  &-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .edit-confirm{
    display: none;
  }
}

.small-info {
  font-size: 0.8rem;
}

footer {
  align-self: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  a {
    text-decoration: none;
    color: $orange;
    margin: 0 1rem;
  }
}

@keyframes tabSwitch {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .book-page.active-page {
    width: 100%;
    flex-direction: column;
  }

  .books-status-section {
    display: inline;
    width: 90%;
    animation: none;
    margin: 2rem auto;

    &.active {
      width: 90%;
      animation: none;
      .book-inner {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
      }
    }

    .book-title {
      font-size: 1rem;
    }

    .book-inner {
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  .switch-left-button {
    transform: rotate(90deg);
  }
  .switch-right-button {
    transform: rotate(90deg);
  }

  .book-details {
    &-content {
      margin: 5% auto;
      padding: 2.7rem 1.2rem;
    }

    &-text {
      width: 60%;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }

      i {
        font-size: 1rem;
        margin: 0 1rem;
        cursor: pointer;
      }
    }

    &-text-inner {
      margin: 2rem 0;
    }

    img {
      max-width: 200px;
    }
  }
}

@media (max-width: 700px) {
  .book-details {
    &-content {
      width: 75%;
      flex-direction: column;
      margin: 5% auto;
      padding: 0.2rem 1.2rem;
    }

    &-text {
      width: 90%;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }

      i {
        font-size: 1rem;
        margin: 0 1rem;
        cursor: pointer;
      }
    }

    &-text-inner {
      margin: 2rem 0;
    }

    img {
      max-width: 200px;
    }
  }

  footer {
    position: relative;
    bottom: 0;

    a {
      margin-top: 0.5rem;
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .main-page {
    margin-bottom: 4rem;
  }

  .page-button {
    font-size: 1.1rem;
    padding: 0.5rem 1.8rem;
  }

  .adding-page {
    .input-wrapper {
      input {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid black;
        border-radius: 20px;
        font-size: 1rem;
        display: block;
      }

      .search-icon {
        padding: 0.24rem;
      }
    }
  }
}